body{
    font-family: "Open Sans", sans-serif;;
    margin: 0;
    height: 100%;
    width: 100%;
}

.nav-bar{
    width: 90%;
    display: flex;

    justify-content: space-between; 
    margin: 10px;

    position: absolute;
    

    nav{ 
       position: fixed;
       right: 0;
       top: 0;
       height: 100vh;
       width: 50%;
       background-color: rgb(201, 153, 82);
       z-index: 999;
       transform:translateX(100%);
       transition: transform .5s ease-in-out;
     ul{
         list-style: none;
         padding: 0;
         margin-top: 8em;

         a{
            font-family: "Open Sans", sans-serif;
            color: white;
            padding: .75em 2em;
            display: block;
            width: 100%
            
          
         }

         a:hover{
             background-color: black;
         }
     }

     .close{
         float: right;
         margin:1.5em;
         width:2em;
     }
    }

    svg{
        
      width: 3em;
      max-width: -.6em;
      cursor: pointer;
      background-color: transparent;
    }
}



.hero-carousel-section{
  width: 100%;
  height: 50vh;
  margin: 0%;
  position: relative;

  .slide-show-container{
   
    max-width: 100%;
    height: 100%;
    position: relative;
    inset: 0;


    .slide-show-element{
          display: block;
          height: 100%;
          width: 100%;
          position: absolute;
          z-index: -1;
          opacity: 0;
          inset: 0;
         .carousel-img{
          
            background-size: cover;
            width: 100%;
            height: 100%;
            
            
           }
         
           .carousel-title{
            color: white;
            position: absolute;
            left: 5em;
            bottom: 5em;
            text-align:left;
            text-decoration: underline;
            font-family: "Open Sans", sans-serif;
           }
         .carousel-subtitle{
            color: white;
            position: absolute;
            left: 6.2em;
            bottom: 4em;
            width: 50%;
            text-align:left;
            font-family: "Open Sans", sans-serif;
            font-size:small;
         }
          

           

           
    }

    

    .slide-show-element-1{

        .carousel-img-1{
            
            background-image: url("../images/cameras.jpg");
        }
    }

    .slide-show-element-2{
      
        .carousel-img-2{
        
            background-image: url("../images/security_guard.jpg");
        }
    }

    .slide-show-element-3{
    
        .carousel-img-3{
         
            background-image: url("../images/earth.jpg");
        }
    }

    .slide-show-element[data-active]{
        opacity: 1;
    }

    .prev_button{
        color: white;
        position: absolute;
        font-size:x-large;
        left: .5em;
        bottom: 5.6em;
        cursor: pointer;

    }


    .next_button{
        color: white;
        position: absolute;
        font-size:x-large;
        right: .5em;
        bottom: 5.6em;
        cursor: pointer;
    }


}
}


a{
    color: white;
    font-family: "Open Sans", sans-serif;
    text-decoration: none;
    font-size: 1.3rem;
}




.services-section{
    display: grid;
    grid-template-areas: "header"
                         "subtitle"
                         "description-container"
                         ;
    padding-bottom: 30%;
    justify-content: center;
  
   
    max-width: 100%; 
   
    margin: 0%;
   
   
       
        .services-section-main-title{
            grid-area: "header";
            justify-self: center;
            font-family: "Varela", sans-serif;
            color: #196fc2;
            width: auto;
            height: 2em;
            margin-bottom: 0em;
        
        }

        .services-section-subtitle{
           // grid-row: 2 / 3;
           grid-area: "subtitle";
            margin-top: 0em;
            font-family: "Varela", sans-serif;
            justify-self: center;
            color: #666;
            letter-spacing: 0.3em;

            width: auto;
            height: 2em;


            .span{
              
                &:before &:after{
                  
                    content: '';
                    height: 1px;
                    background-color: #666;
                    width: 20px;
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    -webkit-transform: translateY(-50%);
                    -moz-transform: translateY(-50%);
                    -o-transform: translateY(-50%);
                    -ms-transform: translateY(-50%);
                }
            }


        
        }


        .services-description-container{
            border: 2px solid black;
            grid-area: "description-container";
           // grid-row: 3 / 4;
            display: grid;
            grid-template-areas: "service_1"
                                 "service_3"
                                 "service_2";
            
            justify-content: space-between;
            
            
            margin: 0%;
        
            .service_1{ 
                .service_1_logo{
                  
                    grid-column: 2 / 3;
                    grid-row: 1 / 3;
                }

                .service_1_title{
                    grid-column: 1 / 2;
                    grid-row: 1 / 2;
                }

                .service_1_container_text{
                    border: 2px solid black;
                    grid-column: 1 / 2;
                    grid-row: 2 / 3;
                }

                
              grid-area: "service_1";
                
            }

            .service_2{ 
              
                grid-area: "service_2";
                .service_2_logo{
                  
                    grid-row: 1 / 3;
                    grid-column: 1 / 2;
                }

                .service_2_title{
                    grid-column: 2 / 3;
                    grid-row: 1 / 2;
                }

                .service_2_container_text{
                    border: 2px solid black;
                    grid-column: 2 / 3;
                    grid-row: 2 / 3;
                    justify-self: center;
                }
               
            
                

            }

            .service_3{ 
              
                grid-area: "service_3";
                .service_3_logo{
                  
                    grid-column: 2 / 3;
                    grid-row: 1 / 3;
                }

                .service_3_title{
                    grid-column: 1 / 2;
                    grid-row: 1 / 2;
                }

                .service_3_container_text{
                    border: 2px solid black;
                    grid-column: 1 / 2;
                    grid-row: 2 / 3;
                }
            }
           
        }



     
     
}



.services-section
.services-description-container
.service{
    display: grid;
    grid-template-columns:  repeat(2, auto);
    grid-template-rows: 0.9fr 3fr;
    padding: 2%;
    align-content: center;
    justify-content: start;
    
    width: auto;
    height: 100%;
    .service_logo{
        
        align-self: center;
       
        width: fit-content;
       
       

    .rectangle{
        display: inline-block;
       
        width: 3.5em;
        height:  3.5em;
        border: 0.05em solid #dddddd;
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -webkit-box-shadow: 0.4em 0.4em 0px 0px #dddddd;
        -o-box-shadow: 0.4em 0.4em 0px 0px #dddddd;
        -moz-box-shadow: 0.4em 0.4em 0px 0px #dddddd;
         box-shadow: 0.4em 0.4em 0px 0px #dddddd;
      
         .service_svg{
          position: absolute;
          top: 50%;
          left: 50%;
          font-size: 4em;
          transform: translate(-50%, -50%) rotate(-45deg);
          -webkit-transform: translate(-50%, -50%) rotate(-45deg);
          -moz-transform: translate(-50%, -50%) rotate(-45deg);
          -o-transform: translate(-50%, -50%) rotate(-45deg);
          -ms-transform: translate(-50%, -50%) rotate(-45deg);
         }
      
        
     }
    }

    .service-title{
        align-self: start;
       
        margin: 0;               
        text-transform: uppercase;
        font-family: 1em "Open Sans", sans-serif;
           
    }


    .service-container-text{
        align-self: start;
       
        
        margin: 0;
       
        
        font-size: small;
        text-align: left;
        max-width: 80%;
    }


   
   

}






/****   CONTACT SECTION *****/


.contact-section{
    
    display: grid;
    justify-content: center;
    padding-bottom: 30%;
    justify-content: space-between;
    grid-template-rows: 5em 5em 25em;

    padding: 10%;
    max-width: 100%; 
    padding-top: 2%;
    margin: 0%;


    
    .contact-section-main-title{
        grid-row: 1 / 2;
        justify-self: center;
        font-family: "Varela", sans-serif;
        color: #196fc2;
        width: 100;
        height: 2em;
        margin-bottom: 0em;
    
    }

    .contact-section-subtitle{
        grid-row: 2 / 3;
      
        margin-top: 0em;
        font-family: "Varela", sans-serif;
        
        color: #666;
        letter-spacing: 0.3em;
        text-transform: uppercase;
        width: fit-content;
        height: 2em;
        letter-spacing: normal;
        justify-self: center;

        


    
    }



    .contact-form-container{
        grid-row: 3 / 4;
        display: flex;
       
        justify-content: space-between;
        flex-direction: column;
       
        max-width: 100%;    
        height: auto;
        
        gap: 4%;
        .row_1{
          display: flex;
          flex-direction: row;
         
          .form-fname{
            padding: 2%;
           
            
            .form-input{
                border: none;
                border-bottom: 1px  solid #196fc2;
                &:focus{
                    outline: 0;
                }
                &::placeholder{
                    color: #666;
                    font-family: "Varela", sans-serif;
                  
                   }
            }
        }

        .form-lname{
            padding: 2%;
           
            .form-input{
                border: none;
                border-bottom: 1px  solid #196fc2;
                &:focus{
                    outline: 0;
                }
                &::placeholder{
                    color: #666;
                    letter-spacing: 0.1em;
                    font-family: "Varela", sans-serif;
                   }
            }
        }
        }

        .row_2{
            display: flex;
            flex-direction: row;
           
            .form-email{
                padding: 2%;
                .form-input{
                    border: none;
                    border-bottom: 1px  solid #196fc2;
                    &:focus{
                        outline: 0;
                    }
                    &::placeholder{
                        color: #666;
                        letter-spacing: 0.1em;
                        font-family: "Varela", sans-serif;
                       }
                }
            }
    
            .form-phone{
                padding: 2%;
                .form-input{
                    border: none;
                    border-bottom: 1px  solid #196fc2;
                    &:focus{
                        outline: 0;
                    }
                    &::placeholder{
                        color: #666;
                        letter-spacing: 0.1em;
                        font-family: "Varela", sans-serif;
                       }
                }
            }
        }
       
        
        
       .row_3{
           display: flex;
           flex-direction: column;
           column-gap: 2%;
        .form-subject{
            padding: 2%;
            
            .form-input-subject{
               
                box-sizing: border-box;
                border: none;
                resize: none;
                border-bottom: 1px  solid #196fc2;
                width: 100%;
                height: auto;
             
               &:focus{
                   outline: 0;
               }

               &::placeholder{
                color: #666;
                letter-spacing: 0.1em;
                font-family: "Varela", sans-serif;
               }
            }
           
        }

        .form-submit{
            padding: 2%;
            
            .input-submit{
    
                background-color: #196fc2 ;
                -webkit-transition: background-color 0.2s ease-out;
                border: none;
                width: 100%;
             
                color: white;
                padding: 0.6em 1.2em;
                text-align: center;
                text-justify: center;
                text-decoration: none;
                display: inline-block;
                font-size: 1em;
                margin: 4px 2px;
                cursor: pointer;

                &:hover{
                    background-color: #717972;
                }
            }
              
            
               
            }
        }

       }

        
    }

/** INFO SECTION **/
.info-section{
    border: 2px solid black;
    margin-top:20rem;
    margin-bottom: 20rem;
   
    display: grid;
   /* grid-template-rows: repeat(3, minmax(50%, auto));*/
   grid-template-areas: "header"
                        "grid_1"
                        "grid_2";
    row-gap: 2em;
   
   
   
   
   
   

    .info-section-main-title{
       
        justify-self:center;
      //  grid-row:1 / 2;
        grid-area: "header";
        font-family: "Varela", sans-serif;
        color: #196fc2;
        height: fit-content;
        padding: 0%;
        margin: 0%;
       
       
    }
    .info-section-container-posts{
        
       // grid-row: 2 / 3;
       grid-area: "grid_1";
       
        padding: 0%;
        margin: 0%;
       
    }

    .info-section-container-about_us{
        
       // grid-row: 3 / 4;
       grid-area: "grid_2";
        max-width: 100%;
        padding: 0%;
        margin: 0%;
       
    }

    .info-section-container{

        border: 2px solid rgb(228, 23, 23);
        display: grid;
        row-gap: 2em;
       // grid-template-rows: 20% minmax(70%, 70%);
        grid-template-areas: "title"
                             "content";
        align-content: center;
        justify-content: start;
        
        max-width: 100%;
        height: auto;

        padding: 5%;

       .info-section-container-title{
        align-self: start;
       // grid-row: 1 / 2;
       grid-area: "title";
        margin: 0%;
        
        
       text-transform: uppercase;
       font-family: 0.1em "Open Sans", sans-serif;
       }

       .info-section-container-content{
        align-self: start; 
        //grid-row: 2 / 3;
        grid-area: "content";
        margin: 0;
        border-bottom: 0.5px solid #666;
      
       }
    }

  


   
}

 


