body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  height: 100%;
  width: 100%;
  margin: 0%;
}

.nav-bar {
  background-color: #666;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0%;
  top: 0%;
  left: 0%;
  right: 0%;
  padding: 1rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 999;
  position: fixed;
}

.nav-bar .logo {
  cursor: pointer;
}

.nav-bar .logo:hover span {
  -webkit-transition: color 0.5s ease-out;
  color: #c29519;
}

.nav-bar nav {
  position: fixed;
  right: 0;
  top: 0;
  height: 100vh;
  width: 60%;
  background-color: #666;
  -webkit-transition: -webkit-transform .5s ease-in-out;
  transition: -webkit-transform .5s ease-in-out;
  transition: transform .5s ease-in-out;
  transition: transform .5s ease-in-out, -webkit-transform .5s ease-in-out;
}

.nav-bar nav ul {
  list-style: none;
  padding: 0;
  margin-top: 8em;
}

.nav-bar nav ul a {
  font-family: "Open Sans", sans-serif;
  color: white;
  padding: .75em 2em;
  display: block;
  width: 100%;
  font-size: 1em;
  -webkit-transition: color 0.4s ease-out;
}

.nav-bar nav ul a:hover {
  color: #000000;
}

.nav-bar nav svg.close {
  float: right;
  margin: 1.5em;
  width: 2em;
}

.nav-bar svg.menu {
  width: 3em;
  max-width: -.6em;
  cursor: pointer;
  padding-right: 1.8em;
  background-color: transparent;
}

.hero-carousel-section {
  width: 100%;
  height: 100vh;
  margin: 0%;
  position: relative;
  inset: 0;
}

.hero-carousel-section .slide-show-container {
  max-width: 100%;
  height: 100%;
  position: relative;
}

.hero-carousel-section .slide-show-container .slide-show-element {
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -1;
  opacity: 0;
  inset: 0;
}

.hero-carousel-section .slide-show-container .slide-show-element .carousel-img {
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  height: 100%;
  /*   animation-name: fade;
            animation-timing-function: ease-in-out;
            animation-iteration-count: infinite;
            animation-duration: 2s;
            animation-direction: alternate;*/
}

.hero-carousel-section .slide-show-container .slide-show-element .carousel-title {
  color: white;
  position: absolute;
  left: 5em;
  bottom: 5em;
  text-align: left;
  text-decoration: underline;
  font-family: "Open Sans", sans-serif;
  -webkit-animation: introload 1s forwards;
          animation: introload 1s forwards;
}

.hero-carousel-section .slide-show-container .slide-show-element .carousel-subtitle {
  color: white;
  position: absolute;
  left: 6.2em;
  bottom: 4em;
  width: 50%;
  text-align: left;
  font-family: "Open Sans", sans-serif;
  font-size: small;
  opacity: 0;
  -webkit-animation: introload 1s ease-in-out forwards;
          animation: introload 1s ease-in-out forwards;
}

.hero-carousel-section .slide-show-container .slide-show-element-1 .carousel-img-1 {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("/images/cameras.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/images/cameras.jpg");
  background-size: cover;
}

.hero-carousel-section .slide-show-container .slide-show-element-2 .carousel-img-2 {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("/images/security_guard.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/images/security_guard.jpg");
  background-size: cover;
}

.hero-carousel-section .slide-show-container .slide-show-element-3 .carousel-img-3 {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("/images/earth.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/images/earth.jpg");
  background-size: cover;
}

.hero-carousel-section .slide-show-container .slide-show-element[data-active] {
  opacity: 1;
}

.hero-carousel-section .slide-show-container .prev_button {
  color: white;
  position: absolute;
  font-size: x-large;
  left: .5em;
  bottom: 5.6em;
  cursor: pointer;
}

.hero-carousel-section .slide-show-container .next_button {
  color: white;
  position: absolute;
  font-size: x-large;
  right: .5em;
  bottom: 5.6em;
  cursor: pointer;
}

a {
  color: white;
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
  font-size: 1.3rem;
}

.services-section {
  border-top: 1px solid #dddddd;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "header" "subtitle" "description-container";
  padding-bottom: 30%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 100%;
  padding-bottom: 2%;
  margin: 0%;
  padding-top: 4.7em;
}

.services-section .services-section-main-title {
  grid-area: "header";
  -ms-grid-column-align: center;
      justify-self: center;
  font-family: "Varela", sans-serif;
  color: #666;
  width: auto;
  height: 2em;
  margin-bottom: 0em;
}

.services-section .services-section-subtitle {
  grid-area: "subtitle";
  margin-top: 0em;
  font-family: "Varela", sans-serif;
  -ms-grid-column-align: center;
      justify-self: center;
  color: #666;
  letter-spacing: 0.3em;
  width: auto;
  height: 2em;
}

.services-section .services-section-subtitle .span:before .services-section .services-section-subtitle .span:after {
  content: '';
  height: 1px;
  background-color: #666;
  width: 20px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
}

.services-section .services-description-container {
  grid-auto-flow: row;
  grid-area: "description-container";
  display: -ms-grid;
  display: grid;
      grid-template-areas: "service_1" "service_3" "service_2";
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  row-gap: 1em;
  max-height: 100%;
  padding: 4%;
}

.services-section .services-description-container .service_1 {
  grid-area: "service_1";
}

.services-section .services-description-container .service_1 .service_1_logo {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
}

.services-section .services-description-container .service_1 .service_1_title {
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / 4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
}

.services-section .services-description-container .service_1 .service_1_container_text {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
}

.services-section .services-description-container .service_2 {
  grid-area: "service_2";
}

.services-section .services-description-container .service_2 .service_2_logo {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
}

.services-section .services-description-container .service_2 .service_2_title {
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / 4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
}

.services-section .services-description-container .service_2 .service_2_container_text {
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2 / 4;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
  -ms-grid-column-align: center;
      justify-self: center;
}

.services-section .services-description-container .service_3 {
  grid-area: "service_3";
}

.services-section .services-description-container .service_3 .service_3_logo {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
}

.services-section .services-description-container .service_3 .service_3_title {
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / 4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
}

.services-section .services-description-container .service_3 .service_3_container_text {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
}

.services-section
.services-description-container
.service {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[3];
      grid-template-columns: repeat(3, auto);
  -ms-grid-rows: 0.9fr 3fr;
      grid-template-rows: 0.9fr 3fr;
  row-gap: 5%;
  width: 100%;
  height: 100%;
}

.services-section
.services-description-container
.service .service_logo {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.services-section
.services-description-container
.service .service_logo .rectangle {
  display: inline-block;
  background-color: #e0dede;
  width: 3.5em;
  height: 3.5em;
  border: 0.05em solid #ffffff;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-box-shadow: 0.4em 0.4em 0px 0px #dddddd;
  -o-box-shadow: 0.4em 0.4em 0px 0px #dddddd;
  box-shadow: 0.4em 0.4em 0px 0px #424242;
}

.services-section
.services-description-container
.service .service_logo .rectangle .service_svg {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 4em;
  transform: translate(-50%, -50%) rotate(-45deg);
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
  -moz-transform: translate(-50%, -50%) rotate(-45deg);
  -o-transform: translate(-50%, -50%) rotate(-45deg);
  -ms-transform: translate(-50%, -50%) rotate(-45deg);
}

.services-section
.services-description-container
.service .service-title {
  margin: 0;
  text-transform: uppercase;
  font-family: 1em "Open Sans", sans-serif;
}

.services-section
.services-description-container
.service .service-container-text {
  width: 90%;
  margin: 0;
  font-size: small;
  text-align: left;
}

/****   CONTACT SECTION *****/
.contact-section {
  display: -ms-grid;
  display: grid;
  padding-bottom: 30%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-rows: 5em 5em 25em;
      grid-template-rows: 5em 5em 25em;
  padding: 10%;
  max-width: 100%;
  padding-top: 2%;
  margin: 0%;
  border-bottom: 1px solid #dddddd;
}

.contact-section .contact-section-main-title {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  -ms-grid-column-align: center;
      justify-self: center;
  font-family: "Varela", sans-serif;
  color: #666;
  width: 100;
  height: 2em;
  margin-bottom: 0em;
}

.contact-section .contact-section-subtitle {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
  margin-top: 0em;
  font-family: "Varela", sans-serif;
  color: #666;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 2em;
  letter-spacing: normal;
  -ms-grid-column-align: center;
      justify-self: center;
}

.contact-section .contact-form-container {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3 / 4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  max-width: 100%;
  height: 100%;
  gap: 2em;
}

.contact-section .contact-form-container .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2em;
}

.contact-section .contact-form-container .row .form-attribute .form-input {
  width: 98.5%;
  border: none;
  border-bottom: 1px  solid #666;
}

.contact-section .contact-form-container .row .form-attribute .form-input:focus {
  outline: 0;
}

.contact-section .contact-form-container .row .form-attribute .form-input::-webkit-input-placeholder {
  color: #666;
  font-family: "Varela", sans-serif;
}

.contact-section .contact-form-container .row .form-attribute .form-input:-ms-input-placeholder {
  color: #666;
  font-family: "Varela", sans-serif;
}

.contact-section .contact-form-container .row .form-attribute .form-input::-ms-input-placeholder {
  color: #666;
  font-family: "Varela", sans-serif;
}

.contact-section .contact-form-container .row .form-attribute .form-input::placeholder {
  color: #666;
  font-family: "Varela", sans-serif;
}

.contact-section .contact-form-container .row_3 {
  width: 220%;
}

.contact-section .contact-form-container .row_3 .form-subject .form-input-subject {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
  resize: none;
  border-bottom: 1px  solid #666;
  width: 100%;
  height: auto;
}

.contact-section .contact-form-container .row_3 .form-subject .form-input-subject:focus {
  outline: 0;
}

.contact-section .contact-form-container .row_3 .form-subject .form-input-subject::-webkit-input-placeholder {
  color: #666;
  letter-spacing: 0.1em;
  font-family: "Varela", sans-serif;
}

.contact-section .contact-form-container .row_3 .form-subject .form-input-subject:-ms-input-placeholder {
  color: #666;
  letter-spacing: 0.1em;
  font-family: "Varela", sans-serif;
}

.contact-section .contact-form-container .row_3 .form-subject .form-input-subject::-ms-input-placeholder {
  color: #666;
  letter-spacing: 0.1em;
  font-family: "Varela", sans-serif;
}

.contact-section .contact-form-container .row_3 .form-subject .form-input-subject::placeholder {
  color: #666;
  letter-spacing: 0.1em;
  font-family: "Varela", sans-serif;
}

.contact-section .contact-form-container .row_3 .form-submit .input-submit {
  background-color: #666;
  -webkit-transition: background-color 0.2s ease-out;
  border: none;
  width: 100%;
  color: white;
  padding: 0.6em 1.2em;
  text-align: center;
  text-justify: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1em;
  margin-right: 1em;
  cursor: pointer;
}

.contact-section .contact-form-container .row_3 .form-submit .input-submit:hover {
  background-color: #717972;
}

/** INFO SECTION **/
.info-section {
  border: 2px solid black;
  margin-top: 20rem;
  margin-bottom: 20rem;
  display: -ms-grid;
  display: grid;
  /* grid-template-rows: repeat(3, minmax(50%, auto));*/
      grid-template-areas: "header" "grid_1" "grid_2";
  row-gap: 2em;
}

.info-section .info-section-main-title {
  -ms-grid-column-align: center;
      justify-self: center;
  grid-area: "header";
  font-family: "Varela", sans-serif;
  color: #666;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 0%;
  margin: 0%;
}

.info-section .info-section-container-posts {
  grid-area: "grid_1";
  padding: 0%;
  margin: 0%;
}

.info-section .info-section-container-about_us {
  grid-area: "grid_2";
  max-width: 100%;
  padding: 0%;
  margin: 0%;
}

.info-section .info-section-container {
  border: 2px solid #e41717;
  display: -ms-grid;
  display: grid;
  row-gap: 2em;
      grid-template-areas: "title" "content";
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  max-width: 100%;
  height: auto;
  padding: 5%;
}

.info-section .info-section-container .info-section-container-title {
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  grid-area: "title";
  margin: 0%;
  text-transform: uppercase;
  font-family: 0.1em "Open Sans", sans-serif;
}

.info-section .info-section-container .info-section-container-content {
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  grid-area: "content";
  margin: 0;
  border-bottom: 0.5px solid #666;
}

/** WHY CHOOSE SECTION **/
.why-choose-achillion-section {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "header" "content";
  padding-bottom: 30%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 100%;
  padding-bottom: 2%;
  margin: 0%;
}

.why-choose-achillion-section .why-choose-achillion-section-main-title {
  grid-area: "header";
  -ms-grid-column-align: center;
      justify-self: center;
  font-family: "Varela", sans-serif;
  color: #666;
  width: auto;
  height: 2em;
  margin-bottom: 0em;
}

.why-choose-achillion-section .reasons-container {
  grid-area: "content";
}

.why-choose-achillion-section .reasons-container .hexa {
  border: 0px;
  float: left;
  text-align: center;
  height: 35px;
  width: 60px;
  font-size: 22px;
  background: #FFD700;
  color: #FFD700;
  position: relative;
  margin-top: 15px;
}

.why-choose-achillion-section .reasons-container .hexa:before {
  content: "";
  position: absolute;
  left: 0;
  width: 0;
  height: 0;
  border-bottom: 15px solid #f0f0f0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  top: -15px;
}

.why-choose-achillion-section .reasons-container .hexa:after {
  content: "";
  position: absolute;
  left: 0;
  width: 0;
  height: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-top: 15px solid #f0f0f0;
  bottom: -15px;
}

.why-choose-achillion-section .reasons-container .timeline {
  position: relative;
  padding: 0;
  width: 100%;
  margin-top: 20px;
  list-style-type: none;
}

.why-choose-achillion-section .reasons-container .timeline:before {
  position: absolute;
  left: 50%;
  top: 0;
  content: ' ';
  display: block;
  width: 2px;
  height: 100%;
  margin-left: -1px;
  background: #d5d5d5;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(213, 213, 213, 0)), color-stop(8%, #d5d5d5), color-stop(92%, #d5d5d5), to(rgba(213, 213, 213, 0)));
  background: linear-gradient(to bottom, rgba(213, 213, 213, 0) 0%, #d5d5d5 8%, #d5d5d5 92%, rgba(213, 213, 213, 0) 100%);
  z-index: 5;
}

.why-choose-achillion-section .reasons-container .timeline li {
  padding: 2em 0;
}

.why-choose-achillion-section .reasons-container .timeline .hexa {
  width: 16px;
  height: 10px;
  position: absolute;
  background: #FFD700;
  z-index: 5;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  top: -30px;
  margin-top: 0;
}

.why-choose-achillion-section .reasons-container .timeline .hexa:before {
  border-bottom: 4px solid	#FFD700;
  border-left-width: 8px;
  border-right-width: 8px;
  top: -4px;
}

.why-choose-achillion-section .reasons-container .timeline .hexa:after {
  border-left-width: 8px;
  border-right-width: 8px;
  border-top: 4px solid 	#FFD700;
  bottom: -4px;
}

.why-choose-achillion-section .reasons-container .direction-l,
.why-choose-achillion-section .reasons-container .direction-r {
  float: none;
  width: 100%;
  text-align: center;
}

.why-choose-achillion-section .reasons-container .flag-wrapper {
  text-align: center;
  position: relative;
}

.why-choose-achillion-section .reasons-container .flag {
  position: relative;
  display: inline;
  background: white;
  font-weight: 600;
  z-index: 15;
  padding: 6px 10px;
  text-align: left;
  border-radius: 5px;
}

.why-choose-achillion-section .reasons-container .direction-l .flag:after,
.why-choose-achillion-section .reasons-container .direction-r .flag:after {
  content: "";
  position: absolute;
  left: 50%;
  top: -15px;
  height: 0;
  width: 0;
  margin-left: -8px;
  border: solid transparent;
  border-bottom-color: white;
  border-width: 8px;
  pointer-events: none;
}

.why-choose-achillion-section .reasons-container .direction-l .flag {
  -webkit-box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
  box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
}

.why-choose-achillion-section .reasons-container .direction-r .flag {
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
}

.why-choose-achillion-section .reasons-container .time-wrapper {
  display: block;
  position: relative;
  margin: 4px 0 0 0;
  z-index: 14;
  line-height: 1em;
  vertical-align: middle;
  color: #fff;
}

.why-choose-achillion-section .reasons-container .direction-l .time-wrapper {
  float: none;
}

.why-choose-achillion-section .reasons-container .direction-r .time-wrapper {
  float: none;
}

.why-choose-achillion-section .reasons-container .time {
  background: #FFD700;
  display: inline-block;
  padding: 8px;
}

.why-choose-achillion-section .reasons-container .desc {
  position: relative;
  margin: 1em 0 0 0;
  padding: 1em;
  background: #fefefe;
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
  z-index: 15;
}

.why-choose-achillion-section .reasons-container .direction-l .desc,
.why-choose-achillion-section .reasons-container .direction-r .desc {
  position: relative;
  margin: 1em 1em 0 1em;
  padding: 1em;
  z-index: 15;
}

/** ABOUT US SECTION **/
.section-about-us {
  max-width: 100%;
  height: 50vh;
  margin: 0%;
  position: relative;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("/images/about_us.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/images/about_us.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.section-about-us .about-us-container {
  position: relative;
  top: 4%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  height: 100%;
}

.section-about-us .about-us-container .background-title {
  position: relative;
  left: 4%;
  max-width: 96%;
  font-family: "Varela", sans-serif;
  color: #ffffff;
  text-decoration: underline;
  text-decoration-thickness: 0.5px;
}

.section-about-us .about-us-container .background-text {
  position: relative;
  max-width: 96%;
  left: 4%;
  font-family: "Varela", sans-serif;
  color: #ffffff;
}

.section-about-us .about-us-container .about_us_link {
  position: relative;
  left: 4%;
  max-width: 96%;
  font-family: "Varela", sans-serif;
  -webkit-transition: color 0.2s ease-out;
}

.section-about-us .about-us-container .about_us_link:hover {
  color: #666;
}

/** INFO SECTION **/
.media-section {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "header"  "container";
  padding-bottom: 30%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 100%;
  padding-bottom: 2%;
  margin: 0%;
}

.media-section .media-section-main-title {
  grid-area: "header";
  -ms-grid-column-align: center;
      justify-self: center;
  font-family: "Varela", sans-serif;
  color: #666;
  width: auto;
  height: 2em;
  margin-bottom: 0em;
}

.media-section .media-container {
  grid-auto-flow: row;
  grid-area: "container";
  display: -ms-grid;
  display: grid;
      grid-template-areas: "email_area" "phone_area" "location_area";
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-height: 100%;
  padding: 4%;
  row-gap: 20%;
}

.media-section .media-container .email-area {
  grid-area: "email_area";
}

.media-section .media-container .email-area .email-logo {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
}

.media-section .media-container .email-area .service_emai-address {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2 / 4;
}

.media-section .media-container .phone-area {
  grid-area: "phone_area";
}

.media-section .media-container .phone-area .phone-logo {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
}

.media-section .media-container .phone-area .phone-number {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2 / 4;
}

.media-section .media-container .location-area {
  grid-area: "place_area";
}

.media-section .media-container .location-area .location-logo {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
}

.media-section .media-container .location-area .location-title {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2 / 4;
}

.media-section
.media-container
.media-area {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 20% 40% 40%;
      grid-template-columns: 20% 40% 40%;
  -webkit-column-gap: 10%;
          column-gap: 10%;
  width: 100%;
  height: 100%;
}

.media-section
.media-container
.media-area .media-logo {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 /2;
  -ms-grid-column-align: center;
      justify-self: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.media-section
.media-container
.media-area .media-logo .media-rectangle {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  display: inline-block;
  background-color: white;
  width: 1.8em;
  height: 1.8em;
  border: 0.05em solid #000000;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-box-shadow: 0.4em 0.4em 0px 0px #dddddd;
  -o-box-shadow: 0.4em 0.4em 0px 0px #dddddd;
  box-shadow: 0.2em 0.2em 0px 0px #424242;
}

.media-section
.media-container
.media-area .media-logo .media-rectangle .media_svg {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 4em;
  transform: translate(-50%, -50%) rotate(-45deg);
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
  -moz-transform: translate(-50%, -50%) rotate(-45deg);
  -o-transform: translate(-50%, -50%) rotate(-45deg);
  -ms-transform: translate(-50%, -50%) rotate(-45deg);
}

.media-section
.media-container
.media-area .media-title {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-size: .6em;
}

/* Section: Social Networks */
/* Section: Social Networks */
.section-networks {
  position: relative;
  background-color: #666;
  max-width: 100%;
  margin: 0%;
  text-align: center;
}

.section-networks .social-container {
  max-width: 100%;
  position: relative;
  height: 10em;
  margin-top: 2em;
  text-align: center;
}

.section-networks .social-container .social-rectangle {
  display: inline-block;
  width: 3em;
  height: 3em;
  border: 0.05em solid #ffffff;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-box-shadow: 0.4em 0.4em 0px 0px #dddddd;
  -o-box-shadow: 0.4em 0.4em 0px 0px #dddddd;
  box-shadow: 0.4em 0.4em 0px 0px #424242;
  opacity: 1;
  margin-top: 2.3em;
  margin-left: .5em;
  margin-right: .5em;
  border: none;
  color: #ffffff;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transition: color 0.5s ease-in-out;
}

.section-networks .social-container .social-rectangle i {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 1.2em;
  transform: translate(-50%, -50%) rotate(-45deg);
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
  -moz-transform: translate(-50%, -50%) rotate(-45deg);
  -o-transform: translate(-50%, -50%) rotate(-45deg);
  -ms-transform: translate(-50%, -50%) rotate(-45deg);
}

.section-networks .social-container .social-rectangle:hover {
  background-color: none;
  color: #666;
  border-color: #666;
}

/* FOOTER
================================================== */
.site-footer {
  position: relative;
  max-width: 100%;
  text-align: center;
  border-bottom: 1px solid #dddddd;
}

.site-footer .container-fluid {
  max-width: 100%;
  position: relative;
  padding-bottom: 3em;
  text-align: center;
  border-bottom: 1px solid #dddddd;
}

.site-footer .container-fluid .list-unstyled {
  margin-bottom: 0;
  list-style: none;
  position: relative;
  display: inline;
}

.site-footer .container-fluid .list-unstyled li {
  padding: .2em;
}

.site-footer .container-fluid .list-unstyled li a {
  -webkit-transition: background-color 0.5s ease-out;
  font-size: 12px;
  color: #666;
  text-transform: uppercase;
}

.site-footer .container-fluid .list-unstyled li a:hover {
  color: #666;
}

.site-footer .container-fluid .top-button .top-rectangle {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  position: absolute;
  bottom: -20px;
  right: 0;
  left: 0;
  margin: 0 auto;
  width: 40px;
  height: 40px;
  background-color: #000;
  border: none;
  color: #FFD700;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transition: background-color 0.2s ease-out;
}

.site-footer .container-fluid .top-button .top-rectangle:hover {
  background-color: #666;
  color: #ffffff;
}

.site-footer .container-fluid .top-button .top-rectangle i {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 1.2em;
  transform: translate(-50%, -50%) rotate(-45deg);
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
  -moz-transform: translate(-50%, -50%) rotate(-45deg);
  -o-transform: translate(-50%, -50%) rotate(-45deg);
  -ms-transform: translate(-50%, -50%) rotate(-45deg);
}

.site-footer .container-copyright {
  margin: 3em;
}

.site-footer .container-copyright .copyright {
  margin-bottom: 0;
  font-size: 12px;
  color: #666;
  text-transform: uppercase;
}

.site-footer .container-copyright .copyright a {
  -webkit-transition: background-color 0.2s ease-out;
  font-size: 12px;
  color: #666;
  text-transform: uppercase;
  text-decoration: none;
}

.site-footer .container-copyright .copyright a:hover {
  color: #666;
}

.close-nav {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

.open-nav {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

@media only screen and (min-width: 900px) {
  .nav-bar {
    width: 100%;
    background-color: #666;
    top: 0%;
    left: 0%;
    right: 0%;
    padding: 1rem;
  }
  .nav-bar nav {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    position: unset;
    display: block;
    width: auto;
    height: auto;
    background: none;
    padding-right: 1rem;
  }
  .nav-bar nav svg.close {
    display: none;
  }
  .nav-bar nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0%;
  }
  .nav-bar nav ul a {
    padding: .5em 1.5em;
    font-size: .9rem;
    width: auto;
  }
  .nav-bar svg.menu {
    display: none;
    margin: 0;
  }
  .contact-section .contact-form-container {
    display: -ms-grid;
    display: grid;
        grid-template-areas: "name  lastname " "email phone " "subject subject " "submit submit";
  }
  .contact-section .contact-form-container .row_1 .form-fname {
    grid-area: "name";
  }
  .contact-section .contact-form-container .row_1 .form-lname {
    grid-area: "lastname";
  }
  .contact-section .contact-form-container .row_2 .form-email {
    grid-area: "email";
  }
  .contact-section .contact-form-container .row_2 .form-phone {
    grid-area: "phone";
  }
  .contact-section .contact-form-container .row_3 .form-subject {
    -ms-grid-column-align: stretch;
        justify-self: stretch;
    grid-area: "subject";
  }
  .contact-section .contact-form-container .row_3 .form-submit {
    -ms-grid-column-align: stretch;
        justify-self: stretch;
    grid-area: "submit";
  }
  /** WHY CHOOSE SECTION **/
  .why-choose-achillion-section .reasons-container .timeline {
    width: 660px;
    margin: 0 auto;
    margin-top: 20px;
  }
  .why-choose-achillion-section .reasons-container .timeline li:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }
  .why-choose-achillion-section .reasons-container .timeline .hexa {
    left: -28px;
    right: auto;
    top: 8px;
  }
  .why-choose-achillion-section .reasons-container .timeline .direction-l .hexa {
    left: auto;
    right: -28px;
  }
  .why-choose-achillion-section .reasons-container .direction-l {
    position: relative;
    width: 310px;
    float: left;
    text-align: right;
  }
  .why-choose-achillion-section .reasons-container .direction-r {
    position: relative;
    width: 310px;
    float: right;
    text-align: left;
  }
  .why-choose-achillion-section .reasons-container .flag-wrapper {
    display: inline-block;
  }
  .why-choose-achillion-section .reasons-container .flag {
    font-size: 18px;
  }
  .why-choose-achillion-section .reasons-container .direction-l .flag:after {
    left: auto;
    right: -16px;
    top: 50%;
    margin-top: -8px;
    border: solid transparent;
    border-left-color: #fefefe;
    border-width: 8px;
  }
  .why-choose-achillion-section .reasons-container .direction-r .flag:after {
    top: 50%;
    margin-top: -8px;
    border: solid transparent;
    border-right-color: #fefefe;
    border-width: 8px;
    left: -8px;
  }
  .why-choose-achillion-section .reasons-container .time-wrapper {
    display: inline;
    vertical-align: middle;
    margin: 0;
  }
  .why-choose-achillion-section .reasons-container .direction-l .time-wrapper {
    float: left;
  }
  .why-choose-achillion-section .reasons-container .direction-r .time-wrapper {
    float: right;
  }
  .why-choose-achillion-section .reasons-container .time {
    padding: 5px 10px;
  }
  .why-choose-achillion-section .reasons-container .direction-r .desc {
    margin: 1em 0 0 0.75em;
  }
  /* FOOTER
================================================== */
  .site-footer .container-fluid .list-unstyled li {
    padding-top: 2em;
    display: inline-block;
  }
}

@-webkit-keyframes fade {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fade {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes introload {
  from {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
  to {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes introload {
  from {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
  to {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
}

@-webkit-keyframes zoom {
  0% {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
  15% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  85% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
}

@keyframes zoom {
  0% {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
  15% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  85% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
}

@-webkit-keyframes mymove {
  from {
    left: 0px;
  }
  to {
    left: 200px;
  }
}

@keyframes mymove {
  from {
    left: 0px;
  }
  to {
    left: 200px;
  }
}
/*# sourceMappingURL=index.css.map */