.section-our-company-page-about-us {
  max-width: 100%;
  height: 80vh;
  margin: 0%;
  position: relative;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("/images/camera_eye.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/images/camera_eye.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: 40% 40%;
}

.section-our-company-page-about-us .our-company-page-about-us-container {
  position: relative;
  top: 4%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  height: 100%;
}

.section-our-company-page-about-us .our-company-page-about-us-container .background-title {
  position: relative;
  left: 4%;
  max-width: 90%;
  font-family: "Varela", sans-serif;
  color: #ffffff;
  text-decoration: underline;
  text-decoration-thickness: 0.5px;
}

.section-our-company-page-about-us .our-company-page-about-us-container .background-text {
  position: relative;
  max-width: 96%;
  left: 4%;
  font-family: "Varela", sans-serif;
  color: #ffffff;
}

.section-our-company-page-about-us .our-company-page-about-us-container .about_us_link {
  position: relative;
  left: 4%;
  max-width: 96%;
  font-family: "Varela", sans-serif;
  -webkit-transition: color 0.2s ease-out;
}

.section-our-company-page-about-us .our-company-page-about-us-container .about_us_link:hover {
  color: #666;
}

.section-our-company {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "header" "subtitle" "description-container";
  padding-bottom: 30%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom: 1px solid #dddddd;
  max-width: 100%;
  padding-bottom: 2%;
  margin: 0%;
}

.section-our-company .section-our-company-main-title {
  grid-area: "header";
  -ms-grid-column-align: center;
      justify-self: center;
  font-family: "Varela", sans-serif;
  color: #196fc2;
  width: auto;
  height: 2em;
  margin-bottom: 0em;
}

.section-our-company .section-our-company-subtitle {
  grid-area: "subtitle";
  margin-top: 0em;
  font-family: "Varela", sans-serif;
  -ms-grid-column-align: center;
      justify-self: center;
  color: #666;
  letter-spacing: 0.3em;
  width: auto;
  height: 2em;
}

.section-our-company .section-our-company-description-container {
  grid-area: "description-container";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 90%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  row-gap: 1em;
  max-height: 100%;
  padding: 4%;
}

.section-our-company .section-our-company-description-container .element-1 .element-img-1 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  background-image: url("/images/camera_sketch.jpg");
  background-size: contain;
}

.section-our-company .section-our-company-description-container .element-1 .element-description-1 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
}

.section-our-company .section-our-company-description-container .element-2 .element-img-2 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  background-image: url("/images/camera_sketch.jpg");
  background-size: contain;
}

.section-our-company .section-our-company-description-container .element-2 .element-description-1 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
}

.section-our-company.section-our-company-description-container
.element {
  grid-auto-flow: column;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 1fr;
      grid-template-columns: 2fr 1fr;
  max-width: 100%;
  height: 50vh;
  row-gap: 2em;
  padding: 4%;
}

.section-our-company.section-our-company-description-container
.element .element-img {
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  max-width: 100%;
  height: 100%;
}

.section-our-company.section-our-company-description-container
.element .element-description {
  width: 80%;
  margin: 0;
  font-size: small;
  text-align: left;
}
/*# sourceMappingURL=our_company.css.map */